@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
}

header h1 {
    font-weight: 600;
    font-size: 1.75rem;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

header span {
    font-weight: 800;
    font-size: 4rem;
    display: block;
}

.menu {
    position: absolute;
    bottom: 20%;
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 20px;
    opacity: 0.7;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu p {
    text-align: center;
    max-width: 45rem;
    margin-inline: auto;
    line-height: 1.5;
}

.menu a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar button {
    margin: 0.5rem;
}

/* buttons */

.indexBtn {
    --text-base: 277deg, 55%, 40%;
    --text-hover: 307deg, 72%, 86%;
    --shadow-start: 52deg, 100%, 72%;
    --shadow-end: 282deg, 90%, 50%;
    --shadow-inner: 277deg, 90%, 62%;
    all: unset;
    color: white;
    font: 700 1rem/1.2 Raleway, sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    padding: 0.85em;
    max-width: 100%;
    width: 100%;
    background: inherit;
    background-clip: padding-box;
    border: 5px solid white;
    border-radius: 2em;
    cursor: pointer;
    position: relative;
    transition: 0.25s ease-out;
  }
  .indexBtn::before, .indexBtn::after {
    content: "";
    border-radius: inherit;
    transition: inherit;
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
  .indexBtn::before {
    inset: -0.2em;
    z-index: -1;
    background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
    filter: blur(1.2em) saturate(1.2);
    transform-origin: bottom;
    transform: scaleY(0.5);
    opacity: 0;
  }
  .indexBtn::after {
    box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
    mix-blend-mode: overlay;
    opacity: 0;
  }
  .indexBtn:hover, .indexBtn:focus {
    color: white;
    border-color: transparent;
    box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
  }
  .indexBtn:hover::before, .indexBtn:hover::after, .indexBtn:focus::before, .indexBtn:focus::after {
    transform: none;
    opacity: 1;
  }

.links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 50%;
}

.links a {
    font-size: 1.7rem;
    color: white;
    transition: color 0.3s, transform 0.3s;
}

.links a:hover {
    color: #B278F0;
    transform: scale(1.1);
}

@media screen and (max-width: 1200px){
    .menu {
        position: absolute;
        width: 91vw;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        margin: auto;
        padding: 0.6rem 1.5rem;
    }

    .navbar button {
        width: 150px;
    }

    .indexBtn {
        font: 700 1rem/1.2 Raleway, sans-serif;
    }
}

@media screen and (max-width: 650px){ 

    header {
        top: 25% !important;
    }

    header h1 {
        font-size: 1.7rem !important;
        padding-top: 0;
    }

    header span {
        font-size: 3rem !important;
    }

    .menu {
        position: absolute;
        width: 70vw;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        margin: auto;
        padding: 0.6rem 1.5rem;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .navbar button {
        width: 120px;
    }
}

/* Pagina reservar */

.reservarContainer {
    background-color: transparent;
    min-height: 100vh;
    z-index: 1;
}

.navbarNoHome {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.82);
}

.navbarNoHomeElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 1.7rem;
    color: black;
    text-decoration: none;
    font-weight: 800;
}

.active {
    color: #12A2DE !important;
}

.reservarFormContainer {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.reservarFormContainer form {
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #888888;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.reservarFormContainer form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
}

.reservarFormContainer form input,select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 1rem;
}

.reservarFormContainer form button {
    background-color: #12A2DE;
    width: auto;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reservarFormContainer form button:hover {
    background-color: #45a049;
}

.reservarFormContainer p {
    background-color: rgba(255, 255, 255, 0.82);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    max-width: 80%;
}

.video-background {
    position: fixed;
    top: 86px;
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    z-index: -1000;
}

.video-background video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Asegura que el video quede detrás del contenido */
}

@media screen and (max-width: 800px){
    .navbarNoHome {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }

    .navbarNoHomeElement{
        margin: -10px;
    }

    .reservarFormContainer {
        margin: 0;
    }

    .video-background {
        top: 265px;
        overflow: scroll;
    }

    body {
        overflow: auto;
    }
}

/* Formulario Recibido */

.containerRecibido {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoRecibido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.messageRecibido {
    background-color: #fff; /* Color de fondo del mensaje */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.btnRecibido {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btnRecibido:hover {
    background-color: #0056b3; /* Cambio de color de fondo al pasar el ratón */
}

/* info bungalows */

.bungalowImageContainer {
    max-width: 1200px;
    height: 85vh;
    width: 90%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    border: solid;
    padding: 10px;
}

.images-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    font-size: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.image-item{
    width: 500px;
    height: auto;
    object-fit: cover;
    border: solid;
}

/* Image Slider (grab) */

.bungalowInfoDisplay{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bungalowInfoDisplay h3 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.imageContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #fff;
    width: 80%;
    max-width: 818px;
    height: 80vh;
    overflow: hidden;
    cursor: grab;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.imageSlider {
    width: 500%;
    display: flex;
    gap: 1rem;
    pointer-events: none;
    margin-right: 10rem;
}

.bungalowImage {
    width: 800px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* image slider with buttons */

.imagesSection {
    position: relative;
    background: #ffffffd1;
    width: 60%;
    min-width: 420px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagesSection .imagesDisplay {
    height: 100%;
}

.imagesSection .imagesDisplay img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border: 1px solid black;
    display: none;
}

.imagesSection .imagesDisplay img.active {
    display: block;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    gap: 10px;
}

.imagesSection .buttonsContainer .dots {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagesSection .dots button {
    height: 12px;
    width: 20px;
    border: 3px solid #000;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
}

.imagesSection button#prev,
.imagesSection button#next {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

/* Información */

.informationMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
}

.location{
    width: 80%;
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffffa7;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    padding: 30px;
}

.location h3 {
    font-size: 22px;
    font-weight: bolder;
}

.location iframe {
    border-radius: 10px;
    width: 85%;
    height: 450px;
}

.services {
    width: 100%;
    height: 300px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #ffffffa7;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    padding: 30px;
    
}

.servicesBox{
    width: 80%;
    height: fit-content;
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #ffffffa7;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    padding: 30px;
}

.serviceItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50%;
    gap: 8px;
    margin: 15px 0;
    cursor: pointer;
}

.serviceItem i {
    font-weight: bold;
    font-size: 36px;
}

.serviceItem h4 {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.serviceItem p {
    margin: 0;
    white-space: wrap;
    text-align: center;
    max-width: 90%;
}