@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
}

header h1 {
    font-weight: 600;
    font-size: 1.75rem;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

header span {
    font-weight: 800;
    font-size: 4rem;
    display: block;
}

.menu {
    position: absolute;
    bottom: 20%;
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 20px;
    opacity: 0.7;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu p {
    text-align: center;
    max-width: 45rem;
    margin-inline: auto;
    line-height: 1.5;
}

.menu a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar button {
    margin: 0.5rem;
}

/* buttons */

button {
    --text-base: 277deg, 55%, 40%;
    --text-hover: 307deg, 72%, 86%;
    --shadow-start: 52deg, 100%, 72%;
    --shadow-end: 282deg, 90%, 50%;
    --shadow-inner: 277deg, 90%, 62%;
    all: unset;
    color: white;
    font: 700 1rem/1.2 Raleway, sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    padding: 0.85em;
    max-width: 100%;
    width: 100%;
    background: inherit;
    background-clip: padding-box;
    border: 5px solid white;
    border-radius: 2em;
    cursor: pointer;
    position: relative;
    transition: 0.25s ease-out;
  }
  button::before, button::after {
    content: "";
    border-radius: inherit;
    transition: inherit;
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
  button::before {
    inset: -0.2em;
    z-index: -1;
    background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
    filter: blur(1.2em) saturate(1.2);
    transform-origin: bottom;
    transform: scaleY(0.5);
    opacity: 0;
  }
  button::after {
    box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
    mix-blend-mode: overlay;
    opacity: 0;
  }
  button:hover, button:focus {
    color: white;
    border-color: transparent;
    box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
  }
  button:hover::before, button:hover::after, button:focus::before, button:focus::after {
    transform: none;
    opacity: 1;
  }

.links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 50%;
}

.links a {
    font-size: 1.7rem;
    color: white;
    transition: color 0.3s, transform 0.3s;
}

.links a:hover {
    color: #B278F0;
    transform: scale(1.1);
}

@media screen and (max-width: 1200px){
    .menu {
        position: absolute;
        width: 91vw;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        margin: auto;
        padding: 0.6rem 1.5rem;
    }

    .navbar button {
        width: 150px;
    }

    button {
        font: 700 1rem/1.2 Raleway, sans-serif;
    }
}

@media screen and (max-width: 650px){ 

    header {
        top: 25% !important;
    }

    header h1 {
        font-size: 1.7rem !important;
        padding-top: 0;
    }

    header span {
        font-size: 3rem !important;
    }

    .menu {
        position: absolute;
        width: 70vw;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        margin: auto;
        padding: 0.6rem 1.5rem;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    .navbar button {
        width: 120px;
    }
}

/* Pagina reservar */

.reservarContainer {
    background-color: transparent;
    min-height: 100vh;
    z-index: 1;
}

.navbarNoHome {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.82);
}

.navbarNoHomeElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 1.7rem;
    color: black;
    text-decoration: none;
    font-weight: 800;
}

.active {
    color: #12A2DE !important;
}

.reservarFormContainer {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.reservarFormContainer form {
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #888888;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.reservarFormContainer form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
}

.reservarFormContainer form input,select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 1rem;
}

.reservarFormContainer form button {
    background-color: #12A2DE;
    width: auto;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reservarFormContainer form button:hover {
    background-color: #45a049;
}

.reservarFormContainer p {
    background-color: rgba(255, 255, 255, 0.82);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.video-background {
    position: fixed;
    top: 86px;
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    z-index: -1000;
}

.video-background video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Asegura que el video quede detrás del contenido */
}

@media screen and (max-width: 800px){
    .navbarNoHome {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }

    .navbarNoHomeElement{
        margin: -10px;
    }

    .reservarFormContainer {
        margin: 0;
    }

    .video-background {
        top: 265px;
        overflow: scroll;
    }

    body {
        overflow: auto;
    }
}

/* Formulario Recibido */

.containerRecibido {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoRecibido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.messageRecibido {
    background-color: #fff; /* Color de fondo del mensaje */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.btnRecibido {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btnRecibido:hover {
    background-color: #0056b3; /* Cambio de color de fondo al pasar el ratón */
}

/* info bungalows */

.bungalowImageContainer {
    max-width: 1200px;
    width: 95%  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-slider {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.images-slider .images-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 30px;
}

.images-slider .images-list::-webkit-scrollbar {
    display: none;
}

.image-item{
    width: 400px;
    height: auto;
    object-fit: cover;
}

.bungalowImageContainer .slider-scrollbar {
    height: 24px;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-track:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.bungalowImageContainer .slide-button {
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
    border: none;
    outline: none;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
}

.bungalowImageContainer .slide-button#prev-slide {
    left: 90px;
}

.bungalowImageContainer .slide-button#next-slide {
    right: 90px;
}

.bungalowImageContainer .slide-button:hover {
    background: #444;
}